@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  overflow: hidden;
  font-family: "Protest Strike", sans-serif;
}

#root {
  overflow: hidden;
}

#info {  
  background-image: url("./assets/stars_texture.jpg");
  background-size: cover;
  background-position: center;  
  
  display: flex;
  height: 100%;
}

#info h1 {
  font-family: "Protest Strike", sans-serif;
  color: white;
  font-size: 65px;
}

#info p {
  color: white;
  margin-top: 20px;
  line-height: 1.5;
  font-weight: 100;
  font-family: "Protest Strike", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}